* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	background: #001122;
	flex-direction: column;
}

.divider {
	height: 25px;
	width: 100%;
}

.text-area{
	min-height: 30vh;
}

.text-area p {
	color:white;
}

.body {
	min-height: 60vh;
	display: flex;
	justify-content: center;
	align-items: center;
}


.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.svg-frame {
	position: relative;
	width: 455px;
	height: 455px;
	transform-style: preserve-3d;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: change-view 2s ease-in infinite;
}

@keyframes change-view {
	0%,
	50% {
		transform: rotate(-0deg) skew(00deg) translateX(calc(0 * var(--i)))
			translateY(calc(-0px * var(--i)));
	}

	70%,
	100% {
		transform: rotate(-80deg) skew(30deg) translateX(calc(45px * var(--i)))
			translateY(calc(-35px * var(--i)));
	}
}

svg {
	position: absolute;
	transition: 0.5s;
	transform-origin: center;
	width: 450px;
	height: 450px;
	fill: none;
	animation: change-view 5s ease-in-out infinite alternate;
	filter: drop-shadow(0 0 12px #00aaff);
}

#big-centro,
#outter1,
#solo-lines,
#center,
#outter-center,
#bottom-dots,
#center-lines,
#squares,
#top-dots {
	transform-origin: center;
	animation: rotate 4s ease-in-out infinite alternate;
}

#big-centro {
	animation-delay: -1.5s;
}

#outter1 {
	animation-delay: -1.2s;
}

#center {
	animation-delay: -2.2s;
}

#bottom-dots,
#top-dots {
	animation-duration: 7s;
}

#center-lines,
#outter-center {
	animation-duration: 6s;
	animation-delay: -3s;
}

@keyframes rotate {
	to {
		transform: rotate(360deg);
	}
}
